.form__item {
  display: block;
  width: 100%;
  padding-bottom: 13.26px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.form__item:first-child {
  margin-bottom: 30px;
}