.elements__container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 66px;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 20px 18px;
}

@media screen and (max-width: 768px) {
  .elements__container {
    grid-template-columns: repeat(3, 226px);
    grid-template-rows: repeat(2, 305px);
    gap: 17px 14px;
  }
}
  @media screen and (max-width: 425px) {
    .elements__container {
      grid-template-columns: repeat(1, 375px);
      grid-template-rows: repeat(6, 375px);
    }
  }

@media screen and (max-width: 320px) {
  .elements__container {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 48px;
  }
}