@import url('./__description/element__description.css');
@import url('./__heart-icon/element__heart-icon.css');
@import url('./__img/element__img.css');
@import url('./__text/element__text.css');

.element {
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
@media screen and (max-width: 320px) {
  .element {
    margin-bottom: 20px;
    width: 282px;
    height: 282px;
  }
}