.btn__edit {
    width: 16px;
    height: 16px;
    padding: 7px;
    margin-top: 18px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

@media screen and (max-width: 320px) {
    .btn__edit {
        width: 18px;
        height: 18px;
        padding: 5.25px;
        box-sizing: border-box;
    }
}